.content-card-agenda {
  position: relative;
  overflow: visible;
  
  /* tekstur bulatan abu-abu tua di background utama */
  /* background: radial-gradient(circle, #666 15%, transparent 16%) 0 0 / 25px 25px repeat; */
}

.agenda-modal-footer {
  position: sticky;
  bottom: 0;
  background: white; /* atau warna background modal */
  padding: 1rem;
  z-index: 10;
}

.modal-body::-webkit-scrollbar {
  width: 8px; /* sesuaikan lebar scrollbar */
}

.modal-body::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 4px;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}


.content-card-agenda::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 520px;
  height: 130px;

  background: 
    radial-gradient(circle at top right, rgba(0,0,0,0.15) 30%, transparent 31%) 0 0 / 40px 40px repeat,
    radial-gradient(circle at top right, rgba(0,0,0,0.1) 20%, transparent 21%) 20px 20px / 40px 40px repeat;

  pointer-events: none;
  z-index: 1;

  clip-path: polygon(100% 0%, 100% 100%, 0% 0%);

  /* buat mask radial gradient besar supaya bagian ujung kanan atas tebal, makin ke dalam makin transparan */
  mask-image: radial-gradient(circle at top right, rgba(0,0,0,1) 40%, transparent 90%);
  -webkit-mask-image: radial-gradient(circle at top right, rgba(0,0,0,1) 40%, transparent 90%);
}

/* Optional scrollbar styling */
div[style*="overflow-y: auto"]::-webkit-scrollbar {
    width: 8px;
}

div[style*="overflow-y: auto"]::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.custom-checkbox {
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    border: 1.5px solid #133C6B;
    border-radius: 0.25em;
    display: inline-block;
    position: relative;
}

.custom-checkbox:checked {
    background-color: #133C6B;
    border-color: #133C6B;
}

.custom-checkbox:focus {
    box-shadow: 0 0 0 0.2rem rgba(19, 60, 107, 0.25);
}

.chevron-icon {
    transition: transform 0.3s ease;
}

.chevron-icon.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.collapse-toggle[aria-expanded="true"] .chevron-icon {
    transform: rotate(180deg);
}

.tag-box {
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: 0.5rem;
    background-color: #f8f9fa;
}
.tag-input {
    background-color: #f1f1f1 !important;
}

.tag-input:focus {
    border-color: #133C6B;
    box-shadow: 0 0 0 0.2rem rgba(19, 60, 107, 0.25);
}


@media (max-width: 576px) {
    span-tanggal {
        font-size: 0.9rem; /* sedikit lebih kecil */
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    span-tanggal {
        font-size: 1rem; /* ukuran normal */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
}